header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header ul {
    display: flex;
    font-size: 14px;
    list-style-type: none;
    float: right;    
    padding: 0;
    margin: -5px;
}


.header-menu-img {
    margin: 3px;
    padding: 0;
}

header ul li {
    
    margin-top: 1.0rem;
    margin-right: 1.1rem;
    
}

.link1 {
    position: absolute;
    top: 12px;
    left: 30px;
}

.link2 {
    position: absolute;
    top: 12px;
    left: 90px;
}

header ul button {
    margin-top: 0.5rem;
   
    background-color: #1a73e8;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    width:100px;
}




header ul li a {
    color: rgba(0, 0, 0, 0.87);
    font-family: arial,sans-serif;;
    
}

.main_page {
    position: absolute;
    height: 200px;
    width: 70px;
    display: flex;
    align-items: center;
    flex-direction: column; 
    z-index: 15;
    top: 25%;
    left: 50%;


}
.google_logo img {
    width:300px;
    height: auto;
}

.form_search {
    width: 600px;
    border-radius: 24px;
    background-color: #fff;
    border: 1px solid #dfe1e3;
    box-shadow: none;
    border-color:  rgba(204, 198, 198, 0.932);
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    word-wrap: break-word;
    outline: none;
    display: flex;
    
    height: 44px;
    z-index: 3;
    padding-left: 45px;
}

.form_search {
    background-image: url(magnifying_glass.png), url(microphone.png);
    background-repeat: no-repeat;
    background-position: 15px 12px, 565px 9px;
}

#form_img {
    background-image: url(magnifying_glass.png), url(camera.png), url(microphone.png), url(blue_magnifying_glass.png);
    background-repeat: no-repeat;
    background-position: 15px 12px, 480px 9px, 525px 9px, 565px 12px;
}

.form_search:hover {

    box-shadow: 0 0 11px rgba(33,33,33,.2);
}


.buttons {
    align-items: center;
    padding-top: 18px;
}

button {
    border-width: thin;
    height: 36px;
    border: 1px solid  #f8f9fa;
    background-color: #f8f9fa;
    font-size: 14px;
    font-family: arial,sans-serif;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    min-width: 54px;
}

button:hover {
    border-width: thin;
    border-color:rgba(33,33,33,.2)

    
}



.btn-search {
    background-color: lightcyan;
    
}

.btn_signin {
    border: none;
}

.btn_signin:hover {
    border:none;
    background-color: #4285f4;
}

.bottom-nav-lh ul {
    display: flex;
    font-size: 14px;
    list-style-type: none;
    padding: 5px;

}

.navbar  {
    border-color: red;
}

.link1:hover, .link2:hover {
    color: rgba(0, 0, 0, 0.87)
}

.link3, .link4, .link5, .link6, .link7, .link8{
    position: absolute;
    color: #70757a;
}

.link3:hover, .link4:hover, .link5:hover, .link6:hover, .link7:hover, .link8:hover  {
    color: #70757a;
}

.link4 {
    left: 120px;
}

.link5 {
    left: 200px;
}

.link6 {
    right: 180px;
}

.link7 {
    right:110px;
}

.link8 {
    display:inline-block;
    right: 30px;
}

.search-btn {
    display:inline-block;
    font-size: 14px;
    background: none;
    border: none;
    color: #70757a;
    outline: none;
    float: none;
    padding: 16px;

}


.search-btn:active {
    display:inline-block;
    right:30px;
    font-size: 14px;
    background: none;
    border: none;
    color: #70757a;
    outline: none;

}


.dropup {
    position: absolute;
    display: inline-block;
    bottom: -2px;
    right: 10px;
    
}

.dropup #sea-btn {
color: #70757a;
font-size: 14px;
border:none;
}

.dropup-content {
    display: none;
    background-color: white;
    width: 160px;
    position: absolute;
    border: 0.2px solid #70757a;
    right: 0px;
    
    
  }

  .dropup-content a {
    color:#70757a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    
    
}

.dropup #sea-btn:hover {
    text-decoration: underline;
    
}

/* Change color of dropdown links on hover */
.dropup-content a:hover {
    background-color: #ddd;
    border:none;}

/* Show the dropdown menu on hover */
.dropup:hover .dropup-content {
    display: block; 
    bottom: 100%;

    
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropup:hover .search-btn {background-color: #3e8e41;}