header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header ul {
    display: flex;
    font-size: 14px;
    list-style-type: none;
    float: right;    
    padding: 0;
    margin: -5px;
}


.header-menu-img {
    margin: 3px;
    padding: 0;
}

header ul li {
    
    margin-top: 1.0rem;
    margin-right: 1.1rem;
    
}

.link1 {
    position: absolute;
    top: 12px;
    left: 30px;
}

.link2 {
    position: absolute;
    top: 12px;
    left: 90px;
}

header ul button {
    margin-top: 0.5rem;
   
    background-color: #1a73e8;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    width:100px;
}




header ul li a {
    color: rgba(0, 0, 0, 0.87);
    font-family: arial,sans-serif;;
    
}

.main_page {
    position: absolute;
    height: 200px;
    width: 70px;
    display: flex;
    align-items: center;
    flex-direction: column; 
    z-index: 15;
    top: 25%;
    left: 50%;


}
.google_logo img {
    width:300px;
    height: auto;
}

.form_search {
    width: 600px;
    border-radius: 24px;
    background-color: #fff;
    border: 1px solid #dfe1e3;
    box-shadow: none;
    border-color:  rgba(204, 198, 198, 0.932);
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    word-wrap: break-word;
    outline: none;
    display: flex;
    
    height: 44px;
    z-index: 3;
    padding-left: 45px;
}

.form_search {
    background-image: url(magnifying_glass.png), url(microphone.png);
    background-repeat: no-repeat;
    background-position: 15px 12px, 565px 9px;
}

#form_img {
    background-image: url(magnifying_glass.png), url(camera.png), url(microphone.png), url(blue_magnifying_glass.png);
    background-repeat: no-repeat;
    background-position: 15px 12px, 480px 9px, 525px 9px, 565px 12px;
}

.form_search:hover {

    box-shadow: 0 0 11px rgba(33,33,33,.2);
}


.buttons {
    align-items: center;
    padding-top: 18px;
}

button {
    border-width: thin;
    height: 36px;
    border: 1px solid  #f8f9fa;
    background-color: #f8f9fa;
    font-size: 14px;
    font-family: arial,sans-serif;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    min-width: 54px;
}

button:hover {
    border-width: thin;
    border-color:rgba(33,33,33,.2)

    
}



.btn-search {
    background-color: lightcyan;
    
}

.btn_signin {
    border: none;
    border-radius: 0 !important;
    width: 80px !important;
    height: 35px !important;
    font-weight: bold;

}

.btn_signin:hover {
    border:none;
    background-color: #4285f4;
}

.bottom-nav-lh ul {
    display: flex;
    font-size: 14px;
    list-style-type: none;
    padding: 5px;

}

.navbar  {
    border-color: red;
}

.link1:hover, .link2:hover {
    color: rgba(0, 0, 0, 0.87)
}

.link3, .link4, .link5, .link6, .link7, .link8{
    position: absolute;
    color: #70757a;
}

.link3:hover, .link4:hover, .link5:hover, .link6:hover, .link7:hover, .link8:hover  {
    color: #70757a;
}

.link4 {
    left: 120px;
}

.link5 {
    left: 200px;
}

.link6 {
    right: 180px;
}

.link7 {
    right:110px;
}

.link8 {
    display:inline-block;
    right: 30px;
}

.search-btn {
    display:inline-block;
    font-size: 14px;
    background: none;
    border: none;
    color: #70757a;
    outline: none;
    float: none;
    padding: 16px;

}


.search-btn:active {
    display:inline-block;
    right:30px;
    font-size: 14px;
    background: none;
    border: none;
    color: #70757a;
    outline: none;

}


.dropup {
    position: absolute;
    display: inline-block;
    bottom: -2px;
    right: 10px;
    
}

.dropup #sea-btn {
color: #70757a;
font-size: 14px;
border:none;
}

.dropup-content {
    display: none;
    background-color: white;
    width: 160px;
    position: absolute;
    border: 0.2px solid #70757a;
    right: 0px;
    
    
  }

  .dropup-content a {
    color:#70757a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    
    
}

.dropup #sea-btn:hover {
    text-decoration: underline;
    
}

/* Change color of dropdown links on hover */
.dropup-content a:hover {
    background-color: #ddd;
    border:none;}

/* Show the dropdown menu on hover */
.dropup:hover .dropup-content {
    display: block; 
    bottom: 100%;

    
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropup:hover .search-btn {background-color: #3e8e41;}



.advanced-sea-lab {
    margin-left: 50px;
    margin-top: 80px;
    color: #d93025;
    font-family: arial,sans-serif;
    font-size: 20px; 

    
}

.line-div {
    margin-top: 15px;
    border-bottom: 1px solid #ebebeb;
}

.line-div-2 {
    margin-top: 200px;
    margin-bottom: 12px;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
}

.form-container {
    margin: 45px 5% 45px;

}

.find-page-cont {
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    color: #333;
    vertical-align: middle;
    display: inline-block;
    min-width: 167px;
}

.fp-sep {
    display: inline-block;
    min-height: 42px;
    min-width: 167px;
    width: 50%;
    vertical-align: middle;
}

.to-do-cont {
    display: inline-block;
    min-height: 42px;
    min-width: 167px;
    float: right;
    width:30%;
 
    font-size: 13px;
    vertical-align: middle;
    font-size: 13px;    
}

.to-do{
    height:30px;
    display: table-cell; 
    vertical-align: middle;
    font-weight: bold;
    color: #777;
}

.all-words {
    float: left;
    vertical-align: middle;
}

.left-side-labs {
    font-size: 13px;
}

.right-side-labs {
    margin-left: 10px;
    font-size: 11.5px;
    color: #666;
}

.words-input, .words-input-2, .words-input-3, .words-input-4, .words-input-5a, .words-input-5b, .words-input-6 {
    width: 780px;
    margin-left: 80px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    margin-bottom: 12px;

}

.words-input:focus,.words-input-2:focus, .words-input-3:focus, .words-input-4:focus, .words-input-5a:focus, .words-input-5b:focus, .words-input-6:focus  {
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 30%);
    border: 1px solid #4d90fe;
    outline: none;
}

.words-input {
   
    margin-left: 80px;

}


.words-input-2 {
    margin-left: 21px;
   

}

.words-input-3 {
    
    margin-left: 57px;
    
}
.words-input-4 {
    
    margin-left: 48.5px;


}

.words-input-5a {
    width: 350px;
    margin-left: 36px;
    

}

.mid-lab {
    margin-left: 20px;
    
}

.words-input-5b {
    width: 367px;
    margin-left: 20px;
   

}

.words-input-6 {
    width: 780px;
    margin-left: 80px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;

}

.lang-select, .region-select, .last-update, .terms-appearing, .safe-search, .file-type, .usage-rights{
    width: 780px;
    margin-left: 112px;
    height: 25px;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid #dcdcdc;
    background-color: #f1f1f1;
    padding-left: 10px;
    margin-bottom: 12px;
}

.words-input-6 {
    margin-bottom: 12px;
}


option {
    background-color: white;
    padding-left: 50px;
}

.lang-select-1 {
    
    margin-left: 112px;
}

.region-select {
    margin-left: 128px;
}

.last-update {
    margin-left: 101px;
}

.terms-appearing {
    margin-left: 100px;
}

.safe-search {
    margin-left: 101px;
}

.file-type {
    margin-left: 118px;
}

.usage-rights {
    margin-left: 93px;
}

.btn-adv-sea {
    margin-left: 815px;
    margin-bottom: 20px;
    background-color: #4d90fe;
    box-shadow: none;
    border: 1px solid #3079ed;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-align: center;

}

.btn-adv-sea:hover {
    background-color: #3079ed;
}

.btn-adv-sea:focus {
    border-color: white;
}